<html>
    <head>
        <title>My Site: Prediction</title>
    </head>
    <body>
        <h3>Your Text</h3>
        <p>{{text}}</p>
        <h3>Classification</h3>
        <p>{{prediction}}</p>
        <a href="/">Back to Home</a>
    </body>
</html>
